.galleryIsOpen {
  margin-right: 40px;
}

.viewIconWraper {
  display: flex;
  position: absolute;
  top: 30px;
  right: 50px;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid black;
}

.searchIconWraper {
  display: flex;
  position: absolute;
  top: 30px;
  right: 100px;
  padding: 5px;
  border-radius: 12px;
  background-color: #36d8f5;
  border: 1px solid black;
  z-index: 1;
}

.editMsg {
  position: absolute;
  top: 5px;
  font-size: x-large;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #36d8f5;
  z-index: 1;
}

.backBtnWrapper {
  position: absolute;
  top: 31px;
  left: 15px;
  border-radius: 15px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #36d8f5;
}

.backBtn {
  width: 120px;
  text-decoration: none;
  color: black;
}