body {
    background-color: rgb(61, 61, 61);
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}