.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 937px;
    margin: 0 auto;
    background-color: orangered;
    padding: 20px;
    border-radius: 25px;
}