.contactWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact {
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    height: 200px;
    width: 300px;
}

.contact:hover {
    height: 150px;
}

.contact:hover .deleteButton {
    opacity: 1;
}

.contact:hover .contactInfo {
    margin-top: 0px;
}

.contactWrapper:hover .contact {
    height: 200px;
    padding-bottom: 75px;
}

.contactInfo {
    margin-top: 50px;
    font-size: x-large;
    position: relative;
}

.contactText {
    padding-left: 35px;
    margin: 0;
}

.contactIcon {
    position: absolute;
    top: 0px;
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
}

.contactNumberIcon {
    top: 53px;
}

.deleteButton {
    height: 75px;
    box-sizing: border-box;
    width: 300px;
    font-size: x-large;
    background-color: transparent;
    top: 125px;
    right: 0px;
    position: absolute;
    padding: 0;
    opacity: 0;
    padding-top: 25px;
    border: 2px solid black;
    border-radius: 30px;
    border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}