.formContainer {
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(111, 108, 108);
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 408px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formInput {
    width: 200px;
}

.validationMsg {
    color: red;
}

.submitBtn {
    width: 150px;
    height: 30px;
    margin: 0 auto;
    background-color: orangered;
    border: 1px solid grey;
    border-radius: 7px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.submitBtn:hover {
    border-color: black;
}